
<%- include('partials/head') %>

<%- include('partials/navbar') %>
    
    <h1>Home page
        <%='hello world'.toUpperCase()%>
    </h1>
    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Iure maiores quasi, iusto obcaecati a facilis quia dolores nam labore delectus accusamus recusandae sit, optio laborum tempore at quae omnis. Earum!</p>
    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Nesciunt minima labore hic totam atque harum debitis. Voluptas, atque natus ab harum tenetur consequatur, vero, quisquam magnam voluptatem fuga soluta modi.</p>
    <%- include('partials/footer') %>

<!-- <%= %> - to use js code inside ejs file-->