<%- include('partials/head') %>


    <%- include('partials/navbar') %>
    <h1> Your random number is
        <%= number %>
    </h1>

    <h3>That is an odd number!
        <%= number % 2 === 0 ? 'EVEN' : 'ODD' %>
    </h3>

    <%- include('partials/footer') %>
<!-- Make templates as stupid(as a simple) as possible-->